---
import Heading from "../core/Heading.astro";
import AccordianItem from "../AccordianItem.astro";
---

<div>
  <Heading>Specification Details</Heading>
</div>
<AccordianItem heading="Spec 1 Name">
  <p>Spec 1 detail line 1</p>
  <p>some text with <a href="#" class="text-indigo-500">link</a>.</p>
</AccordianItem>
<AccordianItem heading="Spec 2 Name">
  <p>Spec 2 detail line 1</p>
  <p>some text with <a href="#" class="text-indigo-500">link</a>.</p>
</AccordianItem>
