---
---

<div class="text-center">
  <p class="text-slate-300 text-2xl mb-6 font-bold">&lt;<span class="font-emoji">&#x2615;</span>/&gt;</p>
  <span class="text-lg leading-tight inline-flex flex-col overflow-hidden h-[calc(theme(fontSize.lg)*theme(lineHeight.tight))]">
    <ul class="font-semibold animate-text-scroll-down bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-80% to-indigo-400/60">
      <li>A software engineer</li>
      <li>A code generator</li>
      <li>Unartificial intelligence</li>
      <li>A rooibos tea brewer</li>
      <li>An overthinker</li>
      <li aria-hidden="true">A software engineer</li>
    </ul>
  </span>
  <p class="text-lg font-light bg-clip-text text-slate-400">powered by rooibos teas.</p>
</div>
