---
import Heading from "../core/Heading.astro";
import TimelineItem from "../TimelineItem.astro";
---

<div>
  <Heading>Rivisions</Heading>
</div>
<ol class="relative border-l border-slate-700">
  <TimelineItem heading="Boostcamp" date="July 2022">Whatever I did.</TimelineItem>
</ol>
