---
import Header from "../components/layout/Header.astro";
import GeneratedCodes from "../components/layout/GeneratedCodes.astro";
import Pricing from "../components/layout/Pricing.astro";
import Details from "../components/layout/Details.astro";
import Rivisions from "../components/layout/Rivisions.astro";
import Reviews from "../components/layout/Reviews.astro";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />
    <title>Code Generator</title>
  </head>

  <body class="font-mono bg-slate-950 h-screen">
    <div class="max-w-6xl mx-auto px-4">
      <header class="w-full">
        <Header />
      </header>

      <main class="px-4 space-y-10">
        <section class="space-y-2">
          <GeneratedCodes />
        </section>

        <section class="space-y-2">
          <Pricing />
        </section>
      </main>

      <footer class="px-4 pt-12 pb-4">
        <span class="text-sm text-slate-600">&copy; 2023. All Rights Reserved.</span>
      </footer>
    </div>
  </body>
</html>
