---
interface Props {
  url: string,
  label: string,
}

const { url, label } = Astro.props;
---

<div>
  <a href={url} class="inline-flex items-center px-3 py-2 text-sm text-center text-slate-200 bg-indigo-700 rounded-lg">
    <slot />
  </a>
</div>
