---
---

<section class="p-6 border border-slate-800 rounded-lg shadow bg-slate-900">
  <h1 class="mb-2 text-lg font-semibold tracking-tight text-gray-200"><slot name="heading" /></h1>
  <p class="mb-3 text-sm text-slate-400 font-light"><slot /></p>
</section>
